body{
    background-color: aqua;
}
div.color{
    width: 200px;
    height: 150px;
    background-color: red;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: 2;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
 div.animation{
    width: 100px;
    height: 150px;
    background-color: blue;
    position: relative;
    animation: mymove 3s;
    animation-fill-mode: forwards;
 }
  @keyframes mymove{
      from{top: 0px;}
      to{top: 200px; background-color: brown;}

 }